
<div class="shade_layer check_dis_flag" >
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-body" id="group_add_text">
                <form id="form" role="form"  method="post">
                    <fieldset style="opacity:1">
                        <div><i id="exit_edit" class="fa fa-times" aria-hidden="true"></i></div>

                        <div class="btn-group"}>
                          <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            审核 <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a href="#">通过</a></li>
                            <li><a href="#">驳回</a></li>
                          </ul>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>