{% extends 'base.html' %}
{% block title %}SQL发布{% endblock %}
            {% block body_title %}
                Inception
            {% endblock %}
        {% block body_body %}
            <form class="form-horizontal" method="post">
                <div class="control-group">
                    <label class="control-label">Host IP: </label>
                    <select class="input-xlarge">
                        <option>Enter</option>
                        <option>Your</option>
                        <option>Options</option>
                        <option>Here!</option>
                    </select>

                    <label class="control-label">DBname: </label>
                    <select class="input-xlarge">
                        <option>Endddddddddddter</option>
                        <option>Your</option>
                        <option>Here!</option>
                    </select>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <div class="textarea">
                            <textarea  rows="15" cols="80" class="" ></textarea>
                        </div>
                    </div>
                </div>

                <div class="controls control-group">
                    <button class="btn btn-success">Commit</button>
                </div>
            </form>
        {% endblock %}