<!--继承基础模板-->
{% extends 'base.html' %}

    {% block css_flag %}

        <link href="/static/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

        <!-- DataTables Responsive CSS -->
        <link href="/static/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/iframe_host_manage.css"/>
    {% endblock %}

<!--修改基础模板中的 title 标签-->
{% block title %}SQL发布{% endblock %}

    <!--修改主体标题-->
    {% block body_title %}
        Inception/SQL 审核
    {% endblock %}

    <!--修改主体内容-->
    {% block body_body %}
        <div class="panel-body" id="table_ip_num">
            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>工单号</th>
                        <th>发起人</th>
                        <th>发起时间</th>
                        <th>主机</th>
                        <th>审核状态</th>
                    </tr>
                </thead>
                <tbody>

                    {% if work_order_list %}
                        {% for item in work_order_list %}
                            <tr>
                                <td><a href="{% url 'dbms_sql_audit_details' item.work_order_id  %}">{{ item.work_order_id }}</a></td>
                                <td>{{ item.work_user }}</td>
                                <td>{{ item.r_time }}</td>
                                <td id="num_to_ip">{{ item.db_host }}</td>
                                <td>
                                    {% if item.review_status == 10 %}
                                        <span class="sql_audit_info sql_audit_info_info">待审核</span>
                                    {% elif item.review_status == 0 %}
                                        <span class="sql_audit_info sql_audit_info_success">审核通过</span>
                                    {% else %}
                                        <span class="sql_audit_info sql_audit_info_warning">审核异常</span>
                                    {% endif %}
{#                                    <div class="btn-group">#}
{#                                      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                                        审核 <span class="caret"></span>#}
{#                                      </button>#}
{#                                      <ul class="dropdown-menu">#}
{#                                        <li><a href="#">通过</a></li>#}
{#                                        <li><a href="#">驳回</a></li>#}
{#                                      </ul>#}
{#                                    </div>#}


                                </td>

                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    {% endblock %}
{% block jss_flag %}
    <script src="/static/vendor/datatables/js/jquery.dataTables.js"></script>
    <script src="/static/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/static/vendor/datatables-responsive/dataTables.responsive.js"></script>
    <script src="/static/jss/host_opertion.js"></script>
{% endblock %}