<!--继承基础模板-->
{% extends 'base.html' %}
{% load udf_filter %}

<!--修改基础模板中的 title 标签-->
{% block title %}SQL发布{% endblock %}

    <!--修改主体标题-->
    {% block body_title %}
        Inception/SQL 提交
    {% endblock %}

    <!--修改主体内容-->
    {% block body_body %}
        <!--导入sql提交表单-->
        <form action="{% url 'dbms_sql_reviews' %}" method="post" id="form">
        {% csrf_token %}
            {% for items in ince_form %}

                <div>
                        <label>{{ items.label }}</label>
                    <div style="margin-bottom: 10px;">
                        {{ items }}
                    </div>
                    <div>
                        <span style="color: red">{{ items.errors.0 }}</span>
                    </div>
                </div>

            {% endfor %}

            <div class="form-group">
                <input id="sql_own_reviews" type="submit" class="btn btn-lg btn-info"  value="自审核"/>
                <input id="sql_own_reviews" type="reset" class="btn btn-lg btn-info"  value="重置"/>
                <input id="sql_commit" type="button" class="btn btn-lg btn-info" value="提交审核" />
            </div>

        </form>

        <div >
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>自审核结果</span>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>执行状态</th>
                                    <th>错误代码</th>
                                    <th>语句状态</th>
                                    <th>错误信息</th>
                                    <th>sql内容</th>
                                    <th>影响行数</th>
                                    <th>回滚id</th>
                                    <th>恢复库名</th>
                                    <th>执行时间</th>
                                    <th>SqlHash</th>
                                </tr>
                            </thead>
                            <tbody>
                                    {% for items in ince_result.values %}
                                        <tr>
                                            <td>
                                                {{ items.sql_sid }}
                                            </td>
                                            <td>
                                                {{ items.status }}
                                            </td>
                                            <td>
                                                {{ items.err_id }}
                                            </td>
                                            <td>
                                                {{ items.stage_status }}
                                            </td>
                                            <td>

                                                {% if items.error_msg.status == 0 %}
                                                    {{ None}}
                                                {% else %}
                                                    {% for line in  items.error_msg.error_msgs|udf_split %}
                                                        <p>{{ line }}</p>
                                                    {% endfor %}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {{ items.sql_content }}
                                            </td>
                                            <td>
                                                {{ items.aff_row }}
                                            </td>
                                            <td>
                                                {{ items.rollback_id }}
                                            </td>
                                            <td>
                                                {{ items.backup_dbname }}
                                            </td>
                                            <td>
                                                {{ items.execute_time }}
                                            </td>
                                            <td>
                                                {{ items.sql_hash }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                            </tbody>
                        </table>
                    </div>
                        <!-- /.table-responsive -->
                </div>
                    <!-- /.panel-body -->
            </div>

        </div>
    {% endblock %}

{% block jss_flag %}
    <script src="/static/jss/inception_sql.js"></script>
    <script src="/static/jss/jquery.cookie.js"></script>
    <script>
        $(function () {
            $.ajaxSetup({
                beforeSend:function (xhr, settings) {
                    xhr.setRequestHeader('X-CSRFtoken', $.cookie('csrftoken'));
                }
            });
        })
    </script>
{% endblock %}