<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>register</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/static/vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Join Aquila</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" action="{% url 'register' %}" method="post">
                            <fieldset>
                                <div>
                                    <span>{{ user_exists }}</span>
                                </div>
                                <div class="form-group">
                                    <input id="check_user" class="form-control" placeholder="Username" name="username" type="text" onblur="check_username();" />
                                </div>
                                <div class="form-group prompt_user check_dis_flag" >
                                    <span class="error_style">用户名以字母开头,只能包含下划线，长度为6到20个字符</span>
                                </div>

                                <div class="form-group">
                                    <input id="check_email" class="form-control" placeholder="Email" name="Email" type="email" onblur="check_useremail();">
                                </div>
                                <div class="form-group prompt_email check_dis_flag" >
                                    <span class="error_style">邮箱格式错误或者内容不合法</span>
                                </div>
                                <div class="form-group">
                                    <input id="check_user_pass" class="form-control" placeholder="Password" name="password" type="password" onblur="check_userpass();">
                                </div>
                                <div class="form-group prompt_pass check_dis_flag check_dis_flag">
                                    <span class="error_style">密码由8到16个字符组成，必须由字母、数字、下划线组成</span>
                                </div>
                                <div>
                                    <span>
                                        {{ error_msg }}
                                    </span>
                                </div>
                                <input id="check_register_val" type="submit" class="btn btn-lg btn-success btn-block disabled"  value="Register" onclick="return dis_submit();"/>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="/static/jss/sign.js"></script>
    <script src="/static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/jss/admin-2.js"></script>


</body>

</html>
