{% load sam_tag %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .page_button{
            margin-left: 10px;
            background-color: #1ab7ea;
            color: white;
            padding: 10px;
        }
        .page_button.active{
            background-color: #007bb6;
            color: red;
        }
    </style>
</head>
<body>
    <ul>
        {% for item in data_page %}
            {% include 'test_data_page.html' %}
        {% endfor %}
    </ul>
    <div>
        {{ page_str }}
    </div>
</body>
</html>