{% extends 'base.html' %}
{% load udf_filter %}
{% block body_body %}

    <div style="margin: 10px">
    {% for item in work_info %}
        <span>工单号:</span><span>{{ item.work_order_id }}</span>
        <span>工单发起人:</span><span>{{ item.work_user }}</span>
        <span>工单发起时间:</span><span>{{ item.r_time }}</span>
    {% endfor %}
    </div>
    <div>
        <table class="table table-hover" >
        <thead>
            <tr>
                <th>id</th>
                <th>执行状态</th>
                <th>错误代码</th>
                <th>语句状态</th>
                <th>错误信息</th>
                <th>sql内容</th>
                <th>影响行数</th>
                <th>回滚id</th>
                <th>恢复库名</th>
                <th>执行时间</th>
                <th>SqlHash</th>
            </tr>
        </thead>
        {% for items in detail_result %}
            <tr>
            <td>{{ items.sql_sid }}</td>
            <td>
                {{ items.err_id }}
            </td>
            <td>
                {% if items.err_id == 1 %}
                    {{ '警告' }}
                {% elif items.err_id == 2 %}
                    {{ '错误' }}
                {% else %}
                    {{ items.err_id }}
                {% endif %}
            </td>
            <td>
                {% if items.error_msg == "None" %}
                    {{ None}}
                {% else %}
                    {% for line in  items.error_msg|udf_split %}
                        <p>{{ line }}</p>
                    {% endfor %}
                {% endif %}

            </td>
            <td>{{ items.stage_status }}</td>
            <td>{{ items.sql_content }}</td>
            <td>{{ items.aff_row }}</td>
            <td>{{ items.rollback_id }}</td>
            <td>{{ items.backup_dbname }}</td>
            <td>{{ items.execute_time }}</td>
            <td>{{ items.sql_hash }}</td>

            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}

{% block jss_flag %}
    <script src="/static/vendor/datatables/js/jquery.dataTables.js"></script>
    <script src="/static/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/static/vendor/datatables-responsive/dataTables.responsive.js"></script>
    <script src="/static/jss/host_opertion.js"></script>
{% endblock %}